<!DOCTYPE html>
<html lang="en">

{{ partial "head" . }}

<body>
    <h1>{{ .Site.Title }}</h1>
    <div>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            {{ range .Site.Menus.main }}
                {{ .Pre }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <!-- <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/notes">Notes</a></li>  -->
        </ul>
    </div>
    {{ block "content" . }}{{ end }}
</body>

</html>